- name: Configure internal name resolution
  hosts: all
  become: true

  vars:
    internal_hosts:
      - "129.206.138.101 pixel"
      - "129.206.138.69 cosmos"
      - "129.206.138.91 photon"
      - "172.24.4.103 dl0"
      - "172.24.4.97 dl2"
      - "172.24.4.101 dl3"

  tasks:
    - name: Ensure host entries exist in /etc/hosts
      lineinfile:
        path: /etc/hosts
        line: "{{ item }}"
        state: present
        create: yes
      loop: "{{ internal_hosts }}"
